<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie add</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
    <h1 class="moviesAddTitulo"></h1>
    <br>
    <section id="formulario" >
        <article >
            <form id="create-product-form" action="/movies/create" method="POST">
                <label for="title">Titulo </label>
                <p><input type="text" name="title" id="titulo" ></p>
                <p id="titulo-error" class="alert-warning"></p>
                <label for="rating">Calificación </label>
                <p><input type="number" name="rating" id="calificacion" > </p>
                <p id="calificacion-error" class="alert-warning"></p>
                <label for="awards">Premios </label>
                <p><input type="number" name="awards" id="premios" ></p>
                <p id="premios-error" class="alert-warning"></p>
                <label for="release_date">Fecha de creación </label>
                <p><input type="date" name="release_date" id="fecha" ></p>
                <p id="fecha-error" class="alert-warning"></p>
                <label for="length">Duración </label>
                <p><input type="number" name="length" id="duracion" ></p>
                <p id="duracion-error" class="alert-warning"></p>
                <label for="genreID">Género </label>
                <p>
                    <select name="genre_id" id="genero" >
                        <option value="" disabled selected>- Seleccione el género - </option>
                        <% allGenres.forEach(genre => { %>
                        <option value="<%= genre.id %>"><%= genre.name %></option>
                        <% }); %>
                    </select>
                </p>
                <p id="genero-error" class="alert-warning"></p>
                <br>
                <p> <button class="botonAgregar" type="submit">Agregar</button>
                
                <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
            </form>
        </article>
    </section>
    <script src="/js/moviesAddValidation.js"></script>  
</body>
</html>